{#
/**
 * Custom variables:
 * - image_position
 */
#}

{%
  set classes = [
    'field',
    'field--' ~ field_name|clean_class,
  ]
%}

{% set view_mode = element['#view_mode'] %}
{% if view_mode not in ['card', 'card_horizontal'] %}
  {% set classes = classes|merge(['field--' ~ field_name|clean_class ~ '-' ~ image_position|clean_class]) %}
{% endif %}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{%
  set content_classes = [
    'field__content',
  ]
%}

{% if image_position != 'hide' %}
  <div{{ attributes.addclass(classes) }}>
    {% if not label_hidden %}
      <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% endif %}

    {% for item in items|slice(0, 1) %}
      {% if not item.attributes is empty %}
        <div{{ item.attributes.addClass(content_classes) }}>
          {{ item.content }}
        </div>
      {% else %}
        {{ item.content }}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
