{#
/**
 * Custom variables:
 * - single_day
 * - multiple_day
 * - single_meridiem
 * - multiple_meridiem
 * - start_date_raw
 * - end_date_raw
 *
 * Date formats (for use with the format_date filter on the raw date variables):
 * - short
 * - medium
 * - long
 * - html_datetime
 * - html_date
 * - html_time
 * - html_yearless_date
 * - html_week
 * - html_month
 * - html_year
 * - custom: a PHP date format string
 */
#}

{% extends "field.html.twig" %}

{% block content %}
  {% set meridiem_format = 'a' %}
  {% set base_date_format = 'l, F j, Y' %}
  {% set base_time_format = 'g:i' %}
  {% set default_date_format = [base_date_format, ' - ', base_time_format, meridiem_format]|join %}
  {% for item in items %}
    <div>
      {% if single_day %}
        {% if single_meridiem %}
          {% set start_date_format = [base_date_format, ' - ', base_time_format]|join %}
          {% set end_date_format = [base_time_format, meridiem_format]|join %}
          <time datetime="{{ start_date_raw|format_date('html_datetime') }}">{{ start_date_raw|format_date('custom', start_date_format) }}</time>-<time datetime="{{ start_date_raw|format_date('html_datetime') }}">{{ end_date_raw|format_date('custom', end_date_format) }}</time>
        {% else %}
          {% set start_date_format = default_date_format %}
          {% set end_date_format = [base_time_format, meridiem_format]|join %}
          <time datetime="{{ start_date_raw|format_date('html_datetime') }}">{{ start_date_raw|format_date('custom', start_date_format) }}</time>-<time datetime="{{ start_date_raw|format_date('html_datetime') }}">{{ end_date_raw|format_date('custom', end_date_format) }}</time>
        {% endif %}
      {% else %}
        {% set start_date_format = default_date_format %}
        {% set end_date_format = default_date_format %}
        <time datetime="{{ start_date_raw|format_date('html_datetime') }}">{{ start_date_raw|format_date('custom', start_date_format) }}</time>
        -
        <time datetime="{{ start_date_raw|format_date('html_datetime') }}">{{ end_date_raw|format_date('custom', end_date_format) }}</time>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
