<div class="page">
  {% if page.header %}
    <header role="banner" id="header">
      <div class="container">
        {{ page.header }}
      </div><!-- .container -->
    </header><!-- #header -->
  {% endif %}

  <main role="main" id="main-content">
    {# if page.content_top #}
    {% if is_front %}
      <div id="content-top">
        <div id="block-tallgrasschurch-hero-home" class="block block--block-tallgrasschurch-hero-home">
          <div class="wrapper">
            <h1 class="field field--field-title">
              Reclaiming Neighboring
            </h1>
            <p class="field field--field-subtitle article-header__subtitle">
              Because God first loved us, we exist to love God and love our neighbors.
            </p>
          </div><!-- .wrapper -->
        </div><!-- #block-tallgrasschurch-hero-home -->

        {{ page.content_top }}
      </div><!-- #content-top -->
    {% endif %}
    {# endif #}

    {% if page.content %}
      <div id="content">
        <div class="container">
          {{ page.content }}
        </div><!-- .container -->
      </div><!-- #content -->
    {% endif %}

    {% if page.content_bottom %}
      <div id="content-bottom">
        <div class="container">
          {{ page.content_bottom }}
        </div><!-- .container -->
      </div><!-- #content-bottom -->
    {% endif %}
  </main><!-- #main-content -->

  {% if page.footer %}
    <footer role="contentinfo" id="footer">
      <div class="container">
        {{ page.footer }}
      </div><!-- .container -->
    </footer><!-- #footer -->
  {% endif %}
</div>
