<div class="page">
  {% if page.header %}
    <header role="banner" id="header">
      <div class="container">
        {{ page.header }}
      </div><!-- .container -->
    </header><!-- #header -->
  {% endif %}

  <main role="main" id="main-content">
    {% if page.content_top %}
      <div id="content-top">
        {{ page.content_top }}
      </div><!-- #content-top -->
    {% endif %}

    {% if page.content %}
      <div id="content">
        <div class="container">
          {{ page.content }}
        </div><!-- .container -->
      </div><!-- #content -->
    {% endif %}

    {% if page.content_bottom %}
      <div id="content-bottom">
        <div class="container">
          {{ page.content_bottom }}
        </div><!-- .container -->
      </div><!-- #content-bottom -->
    {% endif %}
  </main><!-- #main-content -->

  {% if page.footer %}
    <footer role="contentinfo" id="footer">
      <div class="container">
        {{ page.footer }}
      </div><!-- .container -->
    </footer><!-- #footer -->
  {% endif %}
</div>
