{%
  set classes = [
    'page-title',
  ]
%}

<header{{ attributes.addclass(classes) }}>
  <div class="container">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {{ content }}
  </div><!-- .container -->
</header>
