{% extends "block.html.twig" %}

{% block content %}
  <h1 class="logo">
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}">
      {% endif %}
      {% if site_name %}
        {{ site_name }}
      {% endif %}
    </a>
  </h1><!-- .logo -->
  {{ site_slogan }}
{% endblock %}
