{%
  set classes = [
    'block',
    attributes.id ? 'block--' ~ attributes.id|clean_class,
  ]
%}

{%
  set label_classes = [
    'block__label',
  ]
%}

<div{{ attributes.addclass(classes) }}>
  {% if not remove_container %}<div class="container">{% endif %}
    <div class="block-wrapper">
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes.addclass(label_classes) }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
      {% block content %}
        {{ content }}
      {% endblock %}
    </div><!-- .block-wrapper -->
  {% if not remove_container %}</div><!-- .container -->{% endif %}
</div><!-- .block .block--{{ attributes.id|clean_class }} -->
