{% set heading_id = attributes.id|clean_id %}

{%
  set classes = [
    'block',
    attributes.id ? 'block--' ~ attributes.id|clean_class,
  ]
%}

<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby').addclass(classes) }}>
  <div class="container">
    {% if not configuration.label_display %}
      {% set title_attributes = title_attributes.addClass('visually-hidden') %}
    {% endif %}

    {{ title_prefix }}
    <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
    {{ title_suffix }}

    {% block content %}
      {{ content }}
    {% endblock %}
  </div><!-- .container -->
</nav><!-- .block -->
