{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{% import _self as menus %}
{{ menus.menu_links(menu_name, items, attributes, 0) }}

{% macro menu_links(menu_name, items, attributes, menu_level) %}
  {% import _self as menus %}

  {%
    set classes = [
      'menu',
      menu_name ? 'menu--' ~ menu_name|clean_class
    ]
  %}

  {% if items %}
    {% if menu_level == 0 %}<ul{{ attributes.addclass(classes) }}>{% else %}<ul>{% endif %}
      {% for item in items %}
        {%
          set classes = [
            'menu__item',
            'menu__item--' ~ item.title|clean_class,
            item.in_active_trail ? 'is-active'
          ]
        %}

        <li{{ item.attributes.addclass(classes) }}>
          <a href="{{ item.url }}" title="{{ item.title }}">
            {% if item.title|clean_class == 'facebook' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M9.38905337,15.9999952 L9.38905337,9.00001192 L11.7230932,9.00001192 L12.1674891,6.10438894 L9.38905337,6.10438894 L9.38905337,4.22533458 C9.38905337,3.43316118 9.777175,2.66097674 11.0215568,2.66097674 L12.2846763,2.66097674 L12.2846763,0.195650588 C12.2846763,0.195650588 11.1384083,3.33786011e-05 10.0424942,3.33786011e-05 C7.75435268,3.33786011e-05 6.25875078,1.38690141 6.25875078,3.89751554 L6.25875078,6.10438894 L3.71529981,6.10438894 L3.71529981,9.00001192 L6.25875078,9.00001192 L6.25875078,15.9999952 L9.38905337,15.9999952 Z"/>
              </svg>
            {% elseif item.title|clean_class == 'twitter' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M5.03551046,14.4974659 C11.0659831,14.4974659 14.3654443,9.50254368 14.3654443,5.16756256 C14.3654443,5.02544254 14.3654443,4.88326148 14.3552819,4.74114146 C14.9948678,4.27413208 15.5532771,3.69545914 15.9999008,3.04574145 C15.4110961,3.29952502 14.7715102,3.48229436 14.1115997,3.55333912 C14.7917738,3.14727319 15.3095338,2.50768731 15.5532161,1.74624504 C14.9237315,2.12188501 14.2131009,2.39599324 13.4720138,2.53811326 C12.8729857,1.89852739 12.020235,1.50259327 11.0760539,1.50259327 C9.25882802,1.50259327 7.79688693,2.97466618 7.79688693,4.78176026 C7.79688693,5.03557435 7.8273434,5.28935793 7.87809401,5.53300969 C5.15733634,5.39085915 2.73092,4.09139325 1.11672707,2.10156035 C0.832425994,2.58886388 0.670042348,3.14724267 0.670042348,3.75637208 C0.670042348,4.89342381 1.24868477,5.89848733 2.13192241,6.4873226 C1.59389879,6.46705898 1.08624009,6.31477662 0.649717689,6.07112486 L0.649717689,6.11171314 C0.649717689,7.70561193 1.77663761,9.02537197 3.27916699,9.32996719 C3.00508927,9.40101194 2.71065638,9.44163074 2.416254,9.44163074 C2.20302819,9.44163074 2,9.4213366 1.79693175,9.39088013 C2.21319052,10.6903765 3.42131753,11.6345271 4.86293396,11.6650141 C3.73601404,12.5482518 2.32482356,13.0660117 0.791868229,13.0660117 C0.517759996,13.0660117 0.263976421,13.0558494 0,13.0254235 C1.45177877,13.9593812 3.17763525,14.4974659 5.03551046,14.4974659 Z"/>
              </svg>
            {% elseif item.title|clean_class == 'instagram' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M10.8906014,14.9500099 C12.012486,14.896879 13.0062275,14.6406235 13.8249816,13.8187565 C14.6437053,13.0000024 14.8999608,12.0062609 14.9562045,10.8843763 C15.0218477,9.72812908 15.0218477,6.26564344 14.9562045,5.1093962 C14.9031041,3.98751166 14.6468486,2.99377014 13.8249816,2.17501599 C13.0062275,1.35629235 12.012486,1.10003686 10.8906014,1.0437931 C9.73435418,0.978149943 6.26872523,0.978149943 5.11247799,1.0437931 C3.99373676,1.09689356 2.99999523,1.35314905 2.17812829,2.1719032 C1.35626136,2.99065735 1.10311865,3.98439888 1.04687489,5.10628341 C0.981262252,6.26253065 0.981262252,9.72812908 1.04687489,10.8843763 C1.10000587,12.0062609 1.35626136,13.0000024 2.17812829,13.8187565 C2.99999523,14.6375107 3.99062397,14.8937357 5.11247799,14.9500099 C6.26872523,15.0156226 9.73435418,15.0156226 10.8906014,14.9500099 Z M8.0030961,13.7374884 C6.98436073,13.7374884 4.79375316,13.8187565 3.87499315,13.4562391 C3.26250681,13.2124958 2.79061463,12.7406341 2.54375853,12.1250045 C2.17812829,11.2031317 2.2625092,9.01563688 2.2625092,7.99690152 C2.2625092,6.97813564 2.18124108,4.78752807 2.54375853,3.86876805 C2.78750184,3.25628172 3.25936351,2.78438953 3.87499315,2.53753343 C4.79686595,2.1719032 6.98436073,2.2562841 8.0030961,2.2562841 C9.02186198,2.2562841 11.2124695,2.17501599 12.1312296,2.53753343 C12.7437159,2.78127675 13.2156081,3.25313842 13.4624642,3.86876805 C13.8280944,4.79064085 13.7437135,6.97813564 13.7437135,7.99690152 C13.7437135,9.01563688 13.8280944,11.2062445 13.4624642,12.1250045 C13.2187209,12.7374908 12.7468592,13.209383 12.1312296,13.4562391 C11.2093568,13.8218693 9.02186198,13.7374884 8.0030961,13.7374884 Z M11.7406055,5.09688402 C12.2030983,5.09688402 12.5780974,4.72502822 12.5780974,4.25939212 C12.5780974,3.79689933 12.2030983,3.42190022 11.7406055,3.42190022 C11.2781127,3.42190022 10.9031136,3.79689933 10.9031136,4.25939212 C10.9031136,4.72188491 11.2749694,5.09688402 11.7406055,5.09688402 Z M8.0030961,11.5874996 C9.99060967,11.5874996 11.5937247,9.98438457 11.5937247,7.99690152 C11.5937247,6.00938795 9.99060967,4.40627287 8.0030961,4.40627287 C6.01561304,4.40627287 4.41249797,6.00938795 4.41249797,7.99690152 C4.41249797,9.98438457 6.01561304,11.5874996 8.0030961,11.5874996 Z M8.0030961,10.3312465 C6.71873637,10.3312465 5.66875108,9.28437404 5.66875108,7.99690152 C5.66875108,6.70939849 6.71562358,5.66252598 8.0030961,5.66252598 C9.29059913,5.66252598 10.3374716,6.70939849 10.3374716,7.99690152 C10.3374716,9.28437404 9.28748634,10.3312465 8.0030961,10.3312465 Z"/>
              </svg>
            {% elseif item.title|clean_class == 'youtube' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M13.8343332,12.6859215 C14.4768296,12.5131008 14.982848,12.025 15.1546005,11.3783379 C15.430644,10.3414388 15.4624952,8.30802362 15.4661703,7.85257884 L15.4661703,7.66864922 C15.4624952,7.21320926 15.430644,5.17981501 15.1546005,4.14291586 C14.982848,3.49622704 14.4768296,2.9869242 13.8343332,2.81410357 C12.8109291,2.53809516 9.08055111,2.50463959 8.19125329,2.50058437 L7.80871019,2.50058437 C6.91941703,2.50463959 3.18905684,2.53809516 2.16562929,2.81410357 C1.52313281,2.98695091 1.01711442,3.49622704 0.845361899,4.14291586 C0.569318446,5.17981501 0.537467278,7.21320926 0.533792143,7.66864922 L0.533792143,7.85257884 C0.537467278,8.30802362 0.569318446,10.3414388 0.845361899,11.3783379 C1.01711442,12.025 1.52313281,12.5131008 2.16562929,12.6859215 C3.18905684,12.9619299 6.91941703,12.9953854 7.80871019,12.9994407 L8.19125226,12.9994407 C9.08054542,12.9953854 12.8109056,12.9619299 13.8343332,12.6859215 Z M6.47268689,9.98100619 L6.47268689,5.54022088 L10.3757042,7.76066694 L6.47268689,9.98100619 Z"/>
              </svg>
            {% elseif item.title|clean_class == 'vimeo' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M7.30622886,14.1093747 C8.62498182,14.1093747 10.234353,12.8718899 12.1374857,10.3968897 C13.9812313,8.02815145 14.9312107,6.16252479 14.9937105,4.80000973 C15.0749786,2.97814517 14.3968492,2.04379071 12.9656087,2.0062847 C11.02497,1.94378485 9.70936034,3.03753224 9.02186198,5.29063966 C9.88123493,4.92189664 11.1499697,4.82503408 10.9999762,6.25938735 C10.9562141,6.7437612 10.640602,7.44688452 10.0562223,8.37190063 C8.42497009,10.9406201 8.02812045,10.0843904 7.13124149,4.41252896 C6.87809878,2.81878276 6.20936868,2.07189734 5.11873408,2.17815929 C4.23709529,2.25804483 2.8760742,3.57799466 1.41868752,4.88445309 L1,5.25627695 L1,5.25627695 L1.65624844,6.10628103 C2.28435973,5.66878207 2.64998996,5.44688929 2.75625192,5.44688929 C3.66561254,5.44688929 4.13436142,7.81251475 5.2343649,11.8500112 C5.79997635,13.3562637 6.49061801,14.1093747 7.30622886,14.1093747 Z"/>
              </svg>
            {% elseif item.title|clean_class == 'rss' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M14.6247234,14.9999671 C14.8366064,14.9999671 15.0055513,14.8247051 14.9998446,14.6129746 C14.7983069,7.18068032 8.81058929,1.20166015 1.38705352,1.00018358 C1.17529255,0.994446291 1,1.16342172 1,1.37524372 L1,2.1258828 C1,2.32842749 1.16085777,2.49486996 1.3633109,2.50060725 C7.98753217,2.68935802 13.3106701,8.02357382 13.4993598,14.6366562 C13.5051277,14.8391093 13.6715396,14.9999671 13.8740843,14.9999671 L14.6247234,14.9999671 Z M10.3674398,15.0000281 C10.5798417,15.0000281 10.7507092,14.8236675 10.7423779,14.6114182 C10.54377,9.53156583 6.46766885,5.45622765 1.3885794,5.25761972 C1.17633015,5.24928844 1,5.42015595 1,5.63258831 L1,6.38331894 C1,6.58430723 1.15850792,6.74910176 1.35928259,6.7577077 C5.63325922,6.940416 9.05961213,10.3674098 9.24232044,14.6407455 C9.25092637,14.8415202 9.4157209,15.0000281 9.61670919,15.0000281 L10.3674398,15.0000281 Z M3.5,14.9999976 C4.88069753,14.9999976 5.99998808,13.8807071 5.99998808,12.5000095 C5.99998808,11.1193001 4.88069753,10.0000095 3.5,10.0000095 C2.11929054,10.0000095 1,11.1193001 1,12.5000095 C1,13.8807071 2.11929054,14.9999976 3.5,14.9999976 Z M3.49999642,13.500006 C2.94860375,13.500006 2.49999642,13.0513939 2.49999642,12.500006 C2.49999642,11.9486133 2.94860375,11.500006 3.49999642,11.500006 C4.05138433,11.500006 4.49999642,11.9486133 4.49999642,12.500006 C4.49999642,13.0513939 4.05138433,13.500006 3.49999642,13.500006 Z"/>
              </svg>
            {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M7.7363402,10.5617147 L7.87305862,10.4249963 C8.13929334,10.1587921 8.29365088,9.82242817 8.33600918,9.4748643 C8.35541831,9.31559344 8.27546245,9.15882502 8.13099258,9.08903148 C7.91047308,8.98243384 7.59107687,8.75523101 7.41804262,8.58189158 C6.39375307,7.55760203 6.39561463,5.89235331 7.41804262,4.86971171 L9.76773794,2.51971121 C10.7960863,1.4920037 12.4559945,1.49612356 13.480223,2.51971121 C14.5079305,3.5480901 14.5038106,5.20799826 13.480223,6.23219625 L12.0474566,7.66468796 C11.9559041,7.75624047 11.9172079,7.88874748 11.9474202,8.01463219 C12.0244464,8.33637825 12.090883,8.86597904 12.0957353,9.19675828 C12.1005571,9.52631682 12.5026863,9.68564871 12.735901,9.45276963 L12.8114171,9.37731924 L12.8114171,9.37731924 L12.9825506,9.20614912 C13.0134216,9.17525605 13.0455054,9.14314309 13.0788597,9.10975396 L13.6816612,8.50616788 C13.7291608,8.45860981 13.778219,8.40949412 13.8288934,8.35876453 L14.1527961,8.03456989 C14.324906,7.86233885 14.5125997,7.67456952 14.7174332,7.46974213 C16.4278478,5.75926647 16.4271154,2.99163391 14.7174027,1.28253154 C13.0072932,-0.428249292 10.2394775,-0.426723416 8.53022258,1.28253154 L8.14664663,1.66601199 C8.08627815,1.72635038 8.0276539,1.78493834 7.9707196,1.84183144 L7.23666641,2.5750636 C7.1952746,2.61639807 7.15530133,2.65631566 7.11669233,2.69487197 L6.7153949,3.09576402 C6.60114128,3.20998617 6.50524185,3.3059858 6.42422258,3.38732093 L6.31341955,3.49877 C5.99513341,3.81968064 5.97338969,3.84986246 5.875871,3.97063548 C4.48128204,5.68541411 4.58394293,8.22279209 6.18055777,9.81937642 C6.51924105,10.1580597 6.90009952,10.4295434 7.30631803,10.6334004 C7.44950616,10.7052996 7.62299818,10.6749957 7.7363402,10.5617147 Z M7.46973927,14.7174971 C7.60486436,14.5823736 7.73257826,14.4546965 7.85331522,14.3340209 L8.76329544,13.424977 C9.13582174,13.0529689 9.39344592,12.7957256 9.57573927,12.6127202 L9.6865423,12.5012701 C10.0048284,12.1803556 10.0265722,12.1501662 10.1240909,12.0293931 C11.5186798,10.3146145 11.4160189,7.77723652 9.81940408,6.18065219 C9.4807208,5.84196891 9.09986234,5.57048519 8.69364382,5.36662825 C8.55042517,5.29472901 8.37690264,5.32500237 8.26362166,5.43831387 L8.12690323,5.57503229 C7.86069903,5.84126701 7.70631097,6.17760044 7.66395267,6.52516431 C7.64454354,6.68443517 7.72449941,6.84120359 7.86896928,6.91099713 C8.08948877,7.01759477 8.40888498,7.2447976 8.58191924,7.41813703 C9.60620879,8.44242658 9.60434722,10.1076753 8.58191924,11.1303169 L6.23222391,13.4803174 C5.20387553,14.5080249 3.54396738,14.503905 2.51973887,13.4803174 C1.49203135,12.4519385 1.49615122,10.7920304 2.51973887,9.76783236 L3.95253574,8.33537117 C4.04408826,8.24381866 4.08278446,8.11131165 4.05257213,7.98542694 C3.97554594,7.66368088 3.90910933,7.13408009 3.90425705,6.80330085 C3.89943528,6.47374231 3.49730611,6.31441041 3.26409134,6.5472895 L3.18857531,6.62273989 L3.18857531,6.62273989 L3.01744178,6.79391 C2.98657076,6.82480308 2.95448693,6.85691604 2.92113267,6.89030517 L2.31833114,7.49389124 C2.27083158,7.54144932 2.2217734,7.590565 2.17109897,7.64129459 L1.84719628,7.96548924 C1.67508634,8.13772028 1.48739269,8.3254896 1.2825592,8.530317 C-0.427885943,10.2407927 -0.427153523,13.0084252 1.2825592,14.7174971 C2.99266865,16.4282779 5.76048431,16.426752 7.46973927,14.7174971 Z"/>
              </svg>
            {% endif %}
            <span class="visually-hidden">{{ item.title }}</span>
          </a>
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
