{%
  set classes = [
    'page-title__title',
  ]
%}

{{ title_prefix }}
{% if title %}
  <h1{{ title_attributes.addclass(classes) }}>{{ title }}</h1>
{% endif %}
{% if subtitle %}
  <p class="page-title__subtitle">{{ subtitle }}</p>
{% endif %}
{% if speaker is defined and speaker is not empty %}
  <p class="page-title__speaker">By
    {% for item in speaker %}
      <a href="{{ item.link }}">{{ item.name }}</a>{% if speaker|length > 2 and not loop.last %},{% endif %}
      {% if speaker|length >= 2 and loop.index == (loop.length - 1) %}and{% endif %}
    {% endfor %}
  </p>
{% endif %}
{% if series is defined and series is not empty %}
  <p class="page-title__series">
    <a href="{{ series.link }}">{{ series.name }}</a>
  </p>
{% endif %}
{{ title_suffix }}
